@import "variables";

pre {
  text-align: left;
  padding: 10px 20px;
  border-radius: 8px;
  background: 
    linear-gradient(to top, lighten($ilblue, 55%) 50%, #FFF 50%);
    background-position: 1.8em 1.8em;
    background-clip: padding-box;
    background-attachment: local;
  width: 98%;
  margin: 0 1vw 20px;
  overflow: scroll;
  font-size: 1.5em;
  box-sizing: border-box;
  padding-top: 1.8em;
  background-size: 100% 2.8em;
  position: relative; 
  top: -10px;
  border: 1px solid $lightborders;
  line-height: 1.4em;
  max-height: 90vh;
  overflow-y: scroll;
b, em {
  font-weight: normal;
  font-style: normal;
  color: $red;
}
&.allcode {
  height: 90vh;
}
}
